# Python Runtime Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment & Virtual Env
.env
.DS_Store
vmd/

# Filter Hasil Unduhan Lokal (Jangan Masuk GitHub)
*.mp4
*.mkv
*.webm
*.mp3
*.jpg
*.jpeg
*.png
*.webp

# Filter Metadata Tambahan
*UTC.txt
*.json
*.description
*.part
*.ytdl

# Jalur Konfigurasi Privat
links.txt
